<div class="row center-block">
	<h2>Register form</h2>
	<form>
		<div class="form-group">
	    	<label for="exampleInputEmail1">Email address</label>
	    	<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" required ng-model="register.email">
	  	</div>
	  	<div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required ng-model="register.password">
	  	</div>
	  	<div class="form-group">
		    <label for="exampleInputPassword2">Password</label>
		    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Repeat Password" required ng-model="register.password2">
	  	</div>
		<button class="btn btn-lg btn-primary">Sign Up</button>
	</form>
	<hr></hr>
	<a href="" class="btn btn-lg btn-warning">Login</a>
</div>